.drift:hover {
    cursor: pointer;
}

/* Glow */

.glow {
    transition: all 0.4s ease-in-out;
}

.glowAnimate{
   box-shadow: 0 0 0em 3px rgba(36, 143, 255, 0.4); 

    // box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    transition: all 0.4s ease-in-out;
}


/* Slide */

.slide {
    background-image: linear-gradient(to left,
      transparent,
      transparent 50%,
      rgba(0,0,0,0.07) 50%,
      rgba(0,0,0,0.02));
    background-size: 200% 100%;
    background-position:right bottom;
    transition: all 2s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.slideAnimate {
    background-position:left bottom;
}

.bounce {
    transition: all 0.25s ease;
}

.bounceAnimate {
    transform: scale(0.97, 0.97);
    transform-origin: bottom right;
}


/* Wiggle */
.wiggleText {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.wiggleStatic {
    transform: scale(1, 1);
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
    
.wiggleAnimate {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    // transform: scale(1.1, 1.1);
    transform: scale(1.04, 1.04);
    transform-origin: center;
    display: inline-block;
}


/* Misc */

*:focus {
    outline: none !important;
}

.btn:active, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none !important;
}
